* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Neue Montreal";
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

#app {
    width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#totalVotes{
    width: 300px;
}

footer {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #808080;
    box-sizing: border-box;
}

h2{
    text-align: center;
}



/* Ajustes para a seção de candidatos */
.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5px;
}

.candidate-box, .candidate-box2 {
    width: calc(33.33% - 20px); /* 33.33% de largura com 20px de espaçamento à direita */
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd; /* Borda leve */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra leve */
    text-align: center;
    position: relative; /* Adiciona posicionamento relativo */
    margin-top: 5px;
}

.candidate-box2{
    border: none;
    box-shadow: none;
}

/* Ajuste para a posição do resultado dentro do candidate-box */
.candidate-box .candidato-info {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.imagem-container {
    text-align: center;
}

/* Tamanho fixo para a imagem e redução do arredondamento */
.imagem-container img {
    width: 120px; /* Tamanho fixo */
    height: 150px; /* Tamanho fixo */
    object-fit: cover;
    border-radius: 10px; /* Reduz o arredondamento */
}

/* Estilizando a seção de resultados */
.result-section {
    text-align: center;
    margin-top: 20px;
}

/* Adicionando estilos ao slider */
/* Estilo adicional para a tag <input> tipo range */
input[type="range"] {
    width: 80%;
    margin: 0 auto;
    appearance: none; /* Remove estilos padrão do navegador */
    height: 10px; /* Altura da barra de rolagem */
    background-color: #ddd; /* Cor de fundo da barra de rolagem */
    border-radius: 5px; /* Borda arredondada da barra de rolagem */
    outline: none; /* Remove a borda padrão do foco */
    margin-bottom: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none; /* Remove estilos padrão do navegador */
    width: 20px; /* Largura do polegar da barra de rolagem */
    height: 20px; /* Altura do polegar da barra de rolagem */
    background-color: #333; /* Cor do polegar da barra de rolagem */
    border-radius: 50%; /* Borda arredondada do polegar da barra de rolagem */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #f5f5f5; /* Cor do polegar da barra de rolagem ao passar o mouse */
}


label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    background-color: #3498db;
    cursor: pointer;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
}

button:hover {
    color: #ffcc00;
    text-shadow: 0 0 10px rgba(255, 204, 0, 0.8);
    text-decoration: none;
}

button:active {
    color: #ff9900;
    text-shadow: 0 0 15px rgba(255, 153, 0, 0.8);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para a tag <details> */
details {
    margin-bottom: 20px;
}

details summary {
    cursor: pointer;
    font-weight: bold;
    padding: 0.5em;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

details[open] {
    background-color: #e6e6e6;
}

details>* {
    padding: 0.5em;
    margin: 0;
}

details[open]> :last-child {
    border-bottom: 1px solid #ccc;
}

/* Estilos para a tag <label> */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

/* Estilo para a tag <input> tipo text */
input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

/* Estilizando o elemento select */
select {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #4CAF50; /* Cor da borda */
    border-radius: 5px;
    background-color: #fff; /* Cor de fundo */
    color: #333; /* Cor do texto */
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  
  /* Estilizando as opções do select */
  select option {
    padding: 10px;
    font-size: 14px;
    background-color: #4CAF50; /* Cor de fundo das opções */
    color: #fff; /* Cor do texto das opções */
  }
  
  /* Estilizando o hover e o foco */
  select:hover, select:focus {
    border-color: #45a049; /* Cor da borda ao passar o mouse ou focar */
  }
  
  /* Estilizando o hover das opções */
  select option:hover {
    background-color: #45a049; /* Cor de fundo das opções ao passar o mouse */
    color: #fff; /* Cor do texto das opções ao passar o mouse */
  }
  
  header {
    background-color: #f8f8f8;
    color: #333;
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 4px solid red; /* Borda vermelha na parte superior */
    border-bottom: 4px solid blue; /* Borda azul na parte inferior */
    text-align: left;
}



/* Estilo para os links no rodapé */
.linkFooter, .termos {
    text-decoration: none;
    color: #333; /* Cor padrão do texto */
    transition: color 0.3s ease; /* Transição suave na mudança de cor */
    font-weight: bold; /* Texto em negrito */
}

.termos{
    text-decoration: underline;
}

/* Estilo ao passar o mouse sobre os links */
.linkFooter:hover, .termos:hover {
    color: #007bff; /* Cor ao passar o mouse (azul claro) */
}


.termos:hover {
    color: #007bff; /* Cor ao passar o mouse (azul claro) */
    text-decoration: none;
}

/* Estilo ao clicar nos links */
.linkFooter:active, .termos:active {
    color: #0056b3; /* Cor ao clicar no link (azul mais escuro) */
}

/* Estilo específico para os links à esquerda (redes sociais) */
.linkFooter.left {
    margin-right: auto; /* Coloca os links à esquerda */
}

/* Estilo específico para os links no centro (termos) */
.termos.center {
    flex-grow: 2; /* Faz com que os links ocupem mais espaço no centro */
    opacity: 0.7; /* Opacidade menor para tornar mais discreto */
    text-align: center; /* Centraliza o texto no centro */
    justify-content: space-around; /* Distribui os termos lado a lado */
}

/* Estilo específico para os links à direita (versão) */
.linkFooter.right {
    margin-left: auto; /* Coloca os links à direita */
}

/* Estilo para o parágrafo dentro do rodapé */
footer p {
    margin: 0; /* Remove as margens padrão do parágrafo */
    text-align: right; /* Alinha o parágrafo à direita */
}

.logo-container {
    margin-right: 10px;
}

.logo {
    max-width: 50px; /* Tamanho máximo original do ícone */
    width: 100%; /* Para ocupar a largura total do contêiner */
}

.title {
    flex-grow: 1; /* Ocupa o espaço restante disponível */
    font-size: 1.5em;
}

.buttons {
    display: flex;
    align-items: center;
    text-align: left;
}

.buttons a {
    text-decoration: none;
    color: #333; /* Cor do texto */
    padding: 8px 12px;
    margin-right: 10px; /* Espaçamento entre os links */
    border: 2px solid #333; /* Cor da borda */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.buttons a:hover {
    background-color: #555;
    color: white; /* Cor do texto ao passar o mouse */
}

hr {
    border: none; /* Remova a borda padrão */
    border-top: 1px solid #808080; /* Cor cinza (#808080) para a linha superior */
    margin-top: 20px; /* Espaçamento do topo, ajuste conforme necessário */
  }


  @media screen and (max-width: 768px) {
    body {
      text-align: center;
    }

    .title {
        font-size: 1.2em; /* Reduz o tamanho da fonte do título */
    }

    hr {
      margin-top: 10px; /* Reduz o espaçamento do topo para a linha horizontal */
    }
  
    header {
        flex-direction: column; /* Empilha os elementos verticalmente */
        text-align: center;
    }

 .buttons {
      flex-direction: column; /* Empilhe os botões verticalmente */
      text-align: center;
      margin-top:10px;
    }
  
    .buttons a {
      margin: 5px 0;
    }

    #app {
      width: 100%;
      margin: 10px auto;
      box-shadow: none;
      border-radius: 0;
      padding: 10px;
    }
  
    .container {
      flex-direction: column; /* Altera para empilhar elementos verticalmente */
      align-items: center;
    }
  
    .candidate-box, .candidate-box2 {
      width: 100%;
      margin: 10px 0;
    }

    .linkFooter.right{
        text-align: center;
        padding: 3px;
    }
  }
  